# Rust
/target/
**/*.rs.bk
Cargo.lock
# IDEs
.idea/
.vscode/
# OS
.DS_Store
# Test output
/test_output.txt
# Environment variables
.env
.env.local
/tests/data/**
!tests/data/README.md
/tests/output/storage/**
!/tests/output/storage/README.md
